---
networks:
  mariadb-net:
    name: mariadb-net
    attachable: true
  powerdns-net:
    name: powerdns-net

volumes:
  mysqldb:
    name: mysqldb
  poweradmin:
    name: poweradmin

services:
  mariadb:
    image: mariadb
    volumes:
      - mysqldb:/var/lib/mysql
    networks:
      - mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=root_pass
      - MYSQL_DATABASE=pdns_db
      - MYSQL_USER=pdns_user
      - MYSQL_PASSWORD=pdns_pass

  powerdns:
    image: ghcr.io/rootshell-coder/powerdns:4.0.4
    volumes:
      - poweradmin:/var/www/html/poweradmin/
    environment:
      PDNS_CONF: |
        launch=gmysql
        gmysql-host=mariadb
        gmysql-port=3306
        gmysql-dbname=pdns_db
        gmysql-user=pdns_user
        gmysql-password=pdns_pass
        gmysql-dnssec=yes
        allow-axfr-ips=127.0.0.1,::1
        local-address=0.0.0.0
        primary=no
        secondary=no
        allow-dnsupdate-from=127.0.0.1,::1
    networks:
      - mariadb-net
      - powerdns-net
    ports:
      - 80:80/TCP
      - 53:53/TCP
      - 53:53/UDP
