---
networks:
  mariadb:
    name: mariadb
    attachable: true
  powerdns:
    name: powerdns

volumes:
  mysqldb:
    name: mysqldb
  nginx:
    name: nginx
  powerdns:
    name: powerdns
  poweradmin:
    name: poweradmin

services:
  mariadb:
    image: mariadb
    volumes:
      - mysqldb:/var/lib/mysql
    networks:
      - mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=root_pass
      - MYSQL_DATABASE=pdns_db
      - MYSQL_USER=pdns_user
      - MYSQL_PASSWORD=pdns_pass

  powerdns:
    image: ghcr.io/rootshell-coder/powerdns:4.0.4
    volumes:
      - nginx:/etc/nginx/
      - powerdns:/etc/powerdns/
      - poweradmin:/var/www/html/poweradmin/
    networks:
      - mariadb
      - powerdns
    ports:
      - 80:80/TCP
      - 53:53/TCP
      - 53:53/UDP
