apiVersion: v1
kind: ConfigMap
metadata:
  name: powerdns-config
data:
  pdns.conf: |
    launch=gmysql
    gmysql-host=mariadb-service
    gmysql-port=3306
    gmysql-dbname=pdns_db
    gmysql-user=pdns_user
    gmysql-password=pdns_pass
    gmysql-dnssec=yes
    allow-axfr-ips=127.0.0.1,::1
    local-address=0.0.0.0
    primary=no
    secondary=no
    allow-dnsupdate-from=127.0.0.1,::1
